@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
 font-family: "Farsan", cursive !important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* change background  */
.full-height{
  background-color:darkolivegreen;
  min-width: 100vh;
  min-height: 90vh;
  
}
.navbar {
  background-color: grey;
  text-decoration: none;   /* ❌ "solid" is invalid, this fixes it */
  padding: 10px 20px;
  color: darkolivegreen;
  font-size: x-large;
}